
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Truculenta';
  font-weight: 700;
}
/* truculenta-regular - latin */
@font-face {
      font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
      font-family: 'Truculenta';
      font-style: normal;
      font-weight: 400;
      src: url('./fonts/truculenta-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    /* truculenta-700 - latin */
    @font-face {
      font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
      font-family: 'Truculenta';
      font-style: normal;
      font-weight: 700;
      src: url('./fonts/truculenta-v22-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  color: #222;
  background-color: rgba(80, 80, 80, 0.541);
  /* background-color: #60b347; */
}

header {
  position: relative;
  height: 35vh;
  border-bottom: 7px solid #eee;
}

main {
  height: 65vh;
  color: #222;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  width: 52rem;
  font-size: 2rem;
}

h1 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number {
  background: #eee;
  color: #333;
  border: 3px solid #222;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.between {
  font-size: 1.8rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.again {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
.guess {
  background: none;
  border: 4px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.btn {
  border: none;
  background-color: transparent;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
  border: 3px solid #222;
}

.btn:hover {
  background-color: #ccc;
}

.message {
  margin-bottom: 8rem;
  height: 3rem;
}

.label-score {
  margin-bottom: 2rem;
}
.my-name{
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  z-index: 50;
}
.name{
  font-size: 22px;
  color: #222;
  text-shadow: 6px 6px 5px rgba(255, 227, 227, 0.726);
  font-family: 'Truculenta';
  font-weight: 400;
}


.bg-loser-modal, .modal-win-wrapper{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  backdrop-filter: blur(5px);
}

.hidden {
  display: none;
}

.loser-modal, .modal-win {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: #fff;
  color: #222;
  border-radius: 8px;
  user-select: none;
  padding: 35px;
}
#modal-btn{
  position: static;
}
.loser-modal h3 {
  margin-bottom: 30px;
  font-size: 3rem;
}
.loser-modal button {
  border: none;
  background-color: rgb(255, 0, 0);
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 1.2rem 2.1rem;
  cursor: pointer;
  transition: 0.2s;
  border: 2px solid rgb(255, 0, 0);
}
.loser-modal button:hover {
  background-color: #fff;
  color: rgb(255, 0, 0);
}
.modal-win h3 {
  margin-bottom: 30px;
  font-size: 4rem;
}

.modal-win button {
  border: none;
  background-color: rgb(94, 255, 0);
  color: #fff;
  font-size: 2rem;
  font-family: inherit;
  padding: 1.3rem 2.2rem;
  cursor: pointer;
  transition: 0.2s;
  border: 2px solid rgb(51, 255, 0);
}
.modal-win button:hover {
  background-color: #fff;
  color: rgb(51, 255, 0);
}